{% if g and page %}
<div class="container">
  <header>
    <h2>{{page.title or _('Title')}}</h2>
    <h4 class="lead">{{page.description}}</h4>
  </header>
  <div class="row">
    {% for item in page.series %}
    <div class="col-lg-3 col-md-6">
      <div class="p-3 text-center {{item.class}}">
        <figure class="w-50 py-1 m-auto">
          <img class="rounded-circle thumbnail"
               src="{{g.trans}}"
               style="{{item.src|bg_img}}"
               alt="{{item.title}}" />
        </figure>
        <h5 class="text-truncate title">
          {{item.title or _('Feature Title')}}
        </h5>
        <p class="text-clamp-4">
          {{item.caption or _('Description text here')}}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% elif not meta.is_front %}
<script>window.location.replace('{{base_url}}/#{{meta.slug}}');</script>
{% endif %}
