{% extends "_layout.html" %}
{% block wrapper %}

<div class="section-header ribbon-bg
            {{'ribbon-cover' if meta.hero.src}} {{meta.hero.class}}"
     style="{{meta.hero.style}}">
  <div class="container">
    <div class="row centered">
      <div class="col-md-8 col-md-offset-2">
        <h2>{{meta.title}}</h2>
        <p>{{meta.description}}</p>
      </div>
    </div>
  </div>
</div>

<div class="section-primary page">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="content">
          {{content}}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}