{% if g and page %}
{% set works_group = stapler(query('works', perpage=48).contents, 8, True) %}

<div class="container">
  <div id="PORTFOLIO" class="carousel slide portfolio">
    <ol class="carousel-indicators">
      {% for x in works_group %}
      <li class="{{'active' if loop.first}}"
          data-target="#PORTFOLIO" data-slide-to="{{loop.index0}}"></li>
      {% endfor %}
      <li class="more">
        <a href="{{base_url}}/portfolio"
           aria-label="_('More')"></a>
      </li>
    </ol>
    <div class="carousel-inner">
      {% for group in works_group %}
      <div class="carousel-item {{'active' if loop.first}}">
        <div class="container">
          <div class="row media-gallery">
            {% for item in group %}
            <figure class="col-6 col-lg-3">
              <a href="{{item.url}}">
                <div class="flip dot">
                  <div class="text-truncate">
                    {{item.title or item.slug}}
                  </div>
                </div>
                <img src="{{g.trans}}"
                     style="{{(item.featured_img.src or g.default_img)
                              |thumbnail|bg_img}}" />
              </a>
            </figure>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% else %}

{% include '_portfolio.html' %}

{% endif %}