{% import 'g' as g with context %}
<!DOCTYPE html>
<html lang="{{lang}}">
{% include '_head_.html' %}
<body>
{% include '_header_.html' %}

<div class="jumbotron {{meta.bg.class}}"
     style="{{meta.bg.style or site_meta.bg.style}}"></div>

<div class="container wrap-box">
  <div class="activity-box">
    <div class="activity text-center">
      <h1>{{meta.title}}</h1>
      <p>{{meta.description}}</p>
      <div>
        <img class="thumbnail-img" src="{{meta.featured_img.src}}">
      </div>
      <div class="content">{{content or _('$_CONTENT')}}</div>
    </div>
  </div>
</div>

{% include '_footer_.html' %}
{% include '_js_.html' %}
</body>
</html>