{% import 'g' as g with context %}
<!DOCTYPE html>
<html lang="{{lang}}">
{% include '_head_.html' %}
<body>
  <div rel="webapp">
    <section id="{{meta.slug}}"
             data-anchor="{{meta.slug}}"
             class="section {{meta.hero.class or 'primary-bg'}}"
             style="{{meta.hero.style}}">
      <div class="container">
        <h1>{{meta.title}}</h1>
        <h3>{{meta.description}}</h3>
      </div>
    </section>
    {% for page in segments if page.template != meta.template %}
      {% set _loop = loop %}
      {% include page.template+'.html' ignore missing %}
    {% endfor %}
  </div>
  {% include '_js_.html' %}
</body>
</html>
