/* Common theme styles
/* ----------------------------------------------- */

/* safe content */
.content {
  & img,
  & video,
  & audio,
  & embed,
  & iframe {
    max-width: 100%;
  }
}

/* image holder */
.img-holder {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &.contain {
    background-size: contain;
  }
}

/* text */
.text-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-clamp.line-2 {
  -webkit-line-clamp: 2;
}
.text-clamp.line-3 {
  -webkit-line-clamp: 3;
}
.text-clamp.line-4 {
  -webkit-line-clamp: 4;
}
.text-clamp.line-5 {
  -webkit-line-clamp: 5;
}
.text-clamp.line-6 {
  -webkit-line-clamp: 6;
}
.text-nowrap {
  min-width: 0;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
.text-break {
  word-break: break-all;
}
