/*
 * primary-color: #8c0 rgb(10,151,71)
 * accent-color: #f80
 */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 640px;
  font-family: 'Helvetica Neue', Helvetica,
                Arial, verdana, Tahoma, sans-serif;
}

hr {
  max-width: 50px;
  border-color: #8c0;
  border-width: 3px;
}

*:focus {
  outline: 0;
}

a {
  color: #8c0;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover,
a:focus {
  color: #f80;
  outline: 0;
}
h2 {
  text-transform: uppercase;
}
p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}
img,
video,
iframe {
  max-width: 100%;
}
figure {
  padding: 0;
  text-align: center;
}
figure > img {
  margin: 0 auto;
}
figure.featured {
  padding: 30px 0;
}
[class*=col-] figure {
  width: 100%;
}

.bg-dark {
  color: #fff;
  background-color: #222;
}
.bg-light {
  color: #222;
  background-color: #fff;
}

.faded {
  opacity: 0.6;
}
.faded-primary {
  color: #8c0;
  opacity: 0.6;
}

section {
  position: relative;
  border-top: 1px solid #ccc;
  padding: 60px 0;
}
section.tagline {
  border: 0;
  padding: 30px;
  color: #fff;
  text-align: center;
  background-color: #8c0;
}
section.tagline h2 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
section.hero {
  border-top: 0;
}

aside {
  padding: 50px 0;
}
aside.aside-bar {
  padding-bottom: 15px;
}
.no-border {
  border: 0;
}
.no-padding {
  padding: 0;
}

/* logo */
.logo {
  width: 96px;
  height: 1em;
  background-color: transparent;
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

/* nav */
.navbar-default {
  border-color: rgba(34,34,34,.05);
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
  color: #8c0;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #0c9;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: rgba(255,255,255,.8);
}
.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
  color: #0c9;
}
.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
  color: #8c0;
  background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
  background-color: transparent;
}
.navbar-default {
  border-color: rgba(255,255,255,.1);
  background-color: rgba(25,25,25,.8);
}
.navbar-default .navbar-toggle {
  border-color: rgba(255,255,255,.3);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border-color: transparent;
  background-color: rgba(55,55,55,.2);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: rgba(255,255,255,.8);
}

.navbar-default .navbar-collapse {
  background: #666;
}
.navbar-default .navbar-header {
  background: transparent;
}

@media(min-width:768px) {
  .navbar-default .navbar-collapse {
    background: transparent;
  }
  .navbar-default {
    background-color: rgba(55,55,55,.4);
  }
  .navbar-default.affix {
    background-color: rgba(25,25,25,.8);
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 14px;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #0c9;
  }

}

/* carousel */
.carousel {
  position: relative;
  width: 100%;
  height: auto;
  min-height: auto;
  color: #fff;
}

.carousel .carousel-inner,
.carousel .carousel-inner .item {
  height: 100%;
}
.carousel .carousel-inner .item {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.carousel .item .item-inner {
  position: relative;
  padding: 60px 15%;
}

.carousel .item .item-inner .title {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}
.carousel .item .item-inner .caption {
  text-transform: uppercase;
}

.carousel .carousel-control {
  width: 10%;
  opacity: 0.1;
}
.carousel .carousel-control:hover {
  opacity: 0.6;
}

@media(min-width:768px) {
  .carousel {
    height: 100%;
    min-height: 100%;
  }

  .carousel .item .item-inner {
    position: absolute;
    top: 50%;
    padding: 80px 15%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .carousel .item .item-inner .title {
    font-size: 60px;
  }
  .carousel .item .item-inner .caption {
    font-size: 36px;
  }
}

/* ribbon */
.ribbon {
  padding: 100px 0 30px 0;
  color: #fff;
  background-color: #222;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* portfolio */
.portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  background: rgba(0,204,153,.8);
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .project-caption,
.portfolio-box .portfolio-box-caption .project-name {
  padding: 0 15px;
}

.portfolio-box .portfolio-box-caption .project-name {
  text-transform: uppercase;
  font-size: 18px;
}

.portfolio-box .portfolio-box-caption .project-caption {
  font-size: 14px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

@media(min-width:768px) {
  .portfolio-box .portfolio-box-caption .project-caption {
    font-size: 16px;
  }

  .portfolio-box .portfolio-box-caption .project-name {
    font-size: 22px;
  }
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: #8c0;
}

.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #222;
  background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  border-color: #fff;
  background-color: #fff;
}

.btn-default .badge {
  color: #fff;
  background-color: #222;
}

.btn-primary {
  border-color: #8c0;
  color: #fff;
  background-color: #8c0;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.open > .dropdown-toggle.btn-primary {
  outline: 0;
  border-color: #f80;
  color: #fff;
  background-color: #f80;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #8c0;
  background-color: #8c0;
}

.btn-primary .badge {
  color: #8c0;
  background-color: #fff;
}

.btn {
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

img::selection {
  color: #fff;
  background: 0 0;
}

img::-moz-selection {
  color: #fff;
  background: 0 0;
}

body {
  webkit-tap-highlight-color: #222;
}

body > footer {
  border-top: 1px solid #eee;
  padding-top: 15px;
  padding-bottom: 15px;
}
body > footer p{
  color: #aaa;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.img-responsive {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.img-client {
  background-size: 60%;
}

.attachments .item {
  padding-bottom: 30px;
}

/* popup video */
.popup-video {
  position: relative;
  display: block;
}
.popup-video img {
  position: relative;
  z-index: 0;
}
.popup-video .popup-video-overlay {
  position: absolute;
  content: ' ';
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 100%;
  background-color: rgba(55, 55, 55, 0.8);
  background-image: url('');
  z-index: 99;
  opacity: 0;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
.popup-video .popup-video-overlay span {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  font-size: 96px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8) !important;
  transform: translateY(-50%);
}
.popup-video .popup-video-overlay:hover {
  opacity: 1;
}

/* form */
form .results > p {
  padding: 15px;
  display: none;
}
form .messages {
  margin: 5px 0;
  padding: 5px;
  display: none;
}
form .hint {
  margin: 5px 0;
  padding: 5px;
}


/* text */
.text-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-nowrap {
  min-width: 0;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}


/* content */
.content {
  padding: 0 15px;
}
.content mark {
  color: #fff;
  background-color: #333;
}

.content ul,
.content ol {
  padding-left: 40px;
}

.content img,
.content video,
.content audio,
.content embed {
  max-width: 100%;
}
.content img,
.content video {
  border: 1px solid #aaa;
}

.content + hr {
  border-color: #222;
}

/* Languages
/* ----------------------------------------------- */
html[lang^="zh"],
html[lang^="zh"] body {
  font-family: "Helvetica Neue", Helvetica, Arial,
               "PingFang SC", "Hiragino Sans GB",
               "Source Han Sans CN", "Source Han Sans SC",
               "Microsoft YaHei", "STXihei", "STHeiti", "SimHei",
               sans-serif;
}
