/*
-----------------------------------------------
TinForce Styles
http://www.tinforce.com

Author:   redy
Date:     15 nov 2013
Version: 1.0
----------------------------------------------- */

/* REST: =Ovrride
----------------------------------------------- */
.form-control, .dropdown-toggle{
    background: rgba(20,20,20,0.5);
    border: 0;
    box-shadow:none;
    border-radius: 10px;
    min-height:58px;
    font-size: 16pt;
    color: #eee;
}
.caret{
    color: #859e52;
}
.input-group .input-group-btn .dropdown-toggle{
    margin-right: 0px;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 255, 102, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 255, 102, 0.6);
}
.dropdown-menu{
    color: #eee;
    padding: 20px 15px;
    background: rgba(20,20,20,0.9);
    border-radius: 10px;
}

.dropdown-menu li a:hover{
    background: #690;
}

.btn-primary, .btn-primary:link, .btn-primary:visited{
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 10px;
    border: 0;
    font-size: 16pt;
    background: #859e52;
    text-decoration: none;
}
.btn-primary:hover{
    background: #690;
}

/* BASE: =Base
----------------------------------------------- */
html, body{
	box-sizing: border-box;
	background: #f5f5f5 url('../img/bg.jpg') no-repeat fixed center center;
	background-size:cover;
}
body, div, a, ul li, button, h1,h2,h3,h4,h5, p{
	font-family: 'Lato', sans-serif;
	color:#333;
}
h1{
    font-size: 60pt;
    margin-bottom: 50px;
}
h2{
    font-size: 50pt;
    margin-bottom: 40px;
}
h3 {
    font-size: 20pt;
    margin-bottom: 30px;
}
p, ul li{
    font-size: 12pt;
    line-height: 1.5em;
	padding-bottom: 10px;
}
p{
    padding-bottom: 20px;
}

a, a:link, a:visited{
	color:#690;
	text-decoration: none;
	border: 0;
}

a:hover{
	color: #333;
	text-decoration: underline;
}

hr{
	border-top-color: #ccc;
}

mark {
	color:#690;
	background:none;
}

.shareto{
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    padding: 10px;
}

/* GRID: =Masthead
----------------------------------------------- */
#masthead{
    min-height:40px;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1030;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	background: #333;
}
#masthead .container{
    max-width: 940px;
}

#masthead a, #masthead a:link, #masthead a:visited{
    color: #fff;
}
#masthead a:hover{
    color: #690;
    text-decoration: none;
}

#masthead .nav-primary{
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    position: relative;
}
#masthead .nav-primary .language{
    min-height:auto;
    font-size:inherit;
    background: none;
}

#masthead .nav-primary .navbar { 
    text-align:center;
    min-height: 0;
    margin: 0;
}
#masthead .navbar .navbar-nav { display:inline-block; float:none; }
#masthead .navbar .navbar-nav li{
    padding: 0;
    margin: 0 20px;
}
#masthead .navbar .navbar-nav>li>a{
    padding: 0;
    padding-bottom: 0;
    border: none;
    border-radius: 0;
    background: none;
}

#masthead .navbar-toggle .icon-bar{
    background: #CCC;
}

#masthead .language-menu{
    left: -60px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

#masthead .language-menu a{
    color: #fff;
    text-align: center;
    font-size: 1em;
}

#masthead .dropdown-toggle{
    min-height: 0;
}

/* GRID: =Main
----------------------------------------------- */
/* The actual visual size of the page */
#main{
	position: relative;
	max-width:940px;
	margin: 90px auto 0 auto;
	/*min-height: 860px;
	transition: height 1s;*/
}
#main .container{
    max-width:600px;
    text-align: center;
}
#mian a, #wrapper a:link, #mian a:visited{
	color:#fff;
}

#mian a:hover{
	color: #690;
	text-decoration: none;
}



/* MODULE: =Brand
----------------------------------------------- */
#brand {
    margin-bottom: 40px;
}
#brand .logo{
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    background: transparent url('../img/logo.png') no-repeat center center;
}

/* typography */
#brand h1 {
    color:#f1f1f1;
    margin-bottom: 0;
    line-height: 1em;
    padding: 0;
}
#brand h1 span{
    display: block;
    font-size: 18pt;
    margin-top: 0;
    text-transform: uppercase;
    color: #cf6;
    line-height: 1em;
    padding: 0;
}

/* MODULE: =GetLink
----------------------------------------------- */
#get-link{
    margin: 0 auto;
    max-width: 500px;
}
#get-link .country-code-list a, #get-link .country-code-list a:link, #get-link .country-code-list a:visited{
    color: #f1f1f1;
    text-decoration: none;
}
#get-link .btn-get-link, #get-link .btn-get-link:link, #get-link .btn-get-link:visited{
    color: #f1f1f1;
    display: block;
    width: 100%;
}

#get-link .col-numbers, #get-link .col-get-links{
    margin-bottom: 10px;
}

/* MODULE: =Excerpt
----------------------------------------------- */
#excerpt{
    max-width: 400px;
    margin: 25px auto;
}
#excerpt p{
    color: #f1f1f1;
}

/* MODULE: =Badge
----------------------------------------------- */
#store{
    max-width: 500px;
    margin: 20px auto;
}

#store .flag{
    display: block;
	margin-bottom:10px;
    width: 100%;
    height: 58px;
    border-radius: 10px;
    border: 0;
    /*text-indent: -9000em;*/
    background: rgba(50,50,50,0.5);
}

#store .flag-online, #store .flag-online:link, #store .flag-online:visited{
    background: #666;
}
#store .flag-online:hover{
    background: #690;
}

#store .flag > span{
    display: block;
    text-indent: -9999em;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position:center center;
}
#store .android{
    background: url('../img/badge_android.png');
}
#store .apple{
    background: url('../img/badge_apple.png');
}
#store .wphone{
    background: url('../img/badge_wp.png');
}

/* MODULE: =GoFeatures
----------------------------------------------- */
#gofeatures{
    max-width: 500px;
    margin: 100px auto;
}

#gofeatures .btn-gofeatures, #gofeatures .btn-gofeatures:link, #gofeatures .btn-gofeatures:visited{
    margin: 0 auto;
    display: block;
    width: 220px;
    height: 100px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
    color: #fff;
    background: transparent url('../img/go_features.png') no-repeat center 0;
    
}
#gofeatures .btn-gofeatures:hover{
    background-position: center -200px;
}

/* GRID: =Features
----------------------------------------------- */
#features{
    position: relative;
    margin: 20px auto 0 auto;
    background: #fff;
}
#features .feature-block{
    min-height: 300px;
    padding-top: 40px;
	padding-bottom:1px;
    border-bottom: 1px solid #ccc;
}
#features .container{
    max-width:960px;
}

#features .feature-block article header{
    margin-top: 60px;
}
#features header.center{
    text-align: center;
}
#features .imgbox {
    text-align: center;
}
#features .imgbox img{
    max-width: 99%;
    height: auto;
    margin:0 auto;
}
#features .pointbox{
	text-align: center;
	margin-bottom:50px;
}

#features .pointbox img{
	max-width: 99%;
    height: auto;
    marign:0 auto;
}
#features .pointbox h3{
	height:65px;
}
#features .textbox{
    padding-top: 40px;
}

#features .textbox p{
    font-size: 1.35em;
    line-height: 1.8;
}

/* GRID: =Footer
----------------------------------------------- */
#footer{
    position: relative;
    margin: 0 auto 0 auto;
    background: #fff;
}
#footer .container{
    padding: 60px;
}
#footer a:hover{
	text-decoration: none;
}
#footer .copyright{
    margin: 0 auto;
    max-width:400px;
    text-align: center;
    font-size: 9pt;
}
#footer .copyright span{
    display: block;
}


/* RESPONSIVE
----------------------------------------------- 
Lastly, apply responsive CSS fixes as necessary
----------------------------------------------- */
@media screen{
}
@media screen and (max-width:991px){
	.pull-left{float:none!important;}
	.pull-right{float:none!important;}
	#features h2{
		text-align:center;
	}
	#features .textbox{
		text-align:center;
	    padding-top: 40px;
	}
}
@media screen and (max-width:767px){
	#get-link{
	    display: none;
	}
	
	#masthead .navbar .navbar-nav { display:block; float:none; }
	#masthead .navbar .navbar-nav li{
	    padding-bottom: 2px;
	}
	#masthead .navbar .navbar-nav>li>a,
	#masthead .navbar .navbar-nav>li>a:link,
	#masthead .navbar .navbar-nav>li>a:visited
	{
	    padding: 10px 0;
	    border: none;
	    border-radius: 0;
	    background: #444;
	}
	
    #masthead .navbar .navbar-nav>li>a:hover{
        color: #fff;
        background: #690;
    }
    #masthead .navbar .language .caret{
        display: block;
        margin: 5px auto;
    }
    #masthead .navbar .navbar-nav>li>a.language{
        color: #666;
        background: #222;
    }
    #masthead .navbar .language-menu{
        background: #222;
        margin: 0;
        border-radius: 0;
        padding: 5px;
    }
    #masthead .navbar .language-menu a{
        padding: 0;
        font-size: 0.8em;
    }
	#features h2{
		font-size:40pt;
	}
	.shareto{
		display:none;
	}
}