{% import "g" as g with context %}
<!DOCTYPE html>
<html lang="{{ lang }}">
{% include "_head.html" %}

<body class="page">

  {% include '_menu.html' %}



  <div class="body-wrapper">
    {% include '_header.html' %}
    <div class="site-content">
      <div class="block content-1170 center-relative">
        <h1 class="entry-title">
          {{meta.title}}
        </h1>
        <p class="page-desc">{{meta.description}}</p>
      </div>

      <article>
        <div class="content-970 center-relative">
          {{content}}
        </div>
        <div class="clear"></div>
      </article>
    </div>
    {% include '_footer.html' %}
  </div>

  {{g.scripts}}
</body>
</html>