{% import "g" as g with context %}
<!DOCTYPE html>
<html lang="{{lang}}">
{% include '_head.html' %}
<body>
{% include '_header.html' %}

<div class="section-header blue-bg">
  <div class="container">
    <div class="row centered">
      <div class="col-md-8 col-md-offset-2">
        <h2>{{meta.title}}</h2>
        <p>{{meta.description}}</p>
      </div>
    </div>
  </div>
</div>

<div class="section-primary light-bg">
  <div class="container">
    <div class="row centered">
      {% set _col_team = '3' if meta.series|length > 3
                             else (12/(meta.series|length or 1))|int %}
      {% set _col_team_sm = '4' if meta.series|length % 2 != 0 else '6' %}
      {% for item in meta.series %}
      <div class="col-sm-{{_col_team_sm}} col-md-{{_col_team}} team-item">
        <div>
          <img class="img-circle avatar-img"
               src="{{g.img_holder}}"
               style="{{item.src|thumbnail|bg_img}}">
          <h4 class="text-nowrap">
            {{item.title}}
          </h4>
          <p class="text-clamp-4">
            {{item.caption}}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="section-primary">
  <div class="container">
    <div class="row centered">
      <div class="col-md-8 col-md-offset-2 section-header">
        <h3 class="headline">{{meta.badges_title}}</h3>
      </div>
    </div>
    <div class="row centered">
      {% set _col_badges = '3' if meta.badges|length > 3
                               else (12/(meta.badges|length or 1))|int %}
      {% set _col_badges_sm = '4' if meta.badges|length % 2 != 0 else '6' %}
      {% for item in meta.badges %}
      <div class="col-sm-{{_col_badges_sm}} col-md-{{_col_badges}}
                  skill-item">
        <div class="{{item.class}}">
          <img class="skill-img"
               src="{{g.img_holder}}"
               style="{{item.src|thumbnail|bg_img}}">
          <h4 class="text-nowrap">{{item.title}}</h4>
          <p class="text-clamp-4">{{item.caption}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="section-primary red-bg">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>{{meta.statement}}</h4>
      </div>
    </div>
  </div>
</div>

{% include '_footer.html' %}
</body>
</html>
