{% if g and page %}
<section id="{{page.slug}}" class="segment-wrapper">
  <header class="container">
    <h2 class="section-heading">
      {{page.title or _('Title')}}
    </h2>
    <hr class="divider">
  </header>
  <div class="container">
    <div class="row">
      {% for item in page.series %}
      <div class="col-md-3 col-sm-6 text-center">
        <div class="feature-box">
          <figure>
            <img src="{{theme_url}}/styles/trans.png"
                 class="img-responsive thumbnail-img"
                 style="{{item.src|bg_img}}"
                 alt="{{item.title}}" />
          </figure>
          <h3 class="text-nowrap">
            {{item.title}}
          </h3>
          <p class="text-muted text-clamp-3">
            {{item.caption}}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% elif not meta.is_front %}
<script>window.location.replace('{{base_url}}/#{{meta.slug}}');</script>
{% endif %}
