{% import "g" as g with context %}
<!DOCTYPE html>
<html>
{% include '_head.html' %}
<body>
{% include '_header.html' %}
<div class="bg-content">
	<div id="content">
		<div class="ic"></div>
		<div class="container">
			<div class="row">
				<article class="span12">
					<div class="inner-1">
						<ul class="list-blog">
							<li>
								<h3>{{meta.title}}</h3>
								<time datetime="{{meta.date}}" class="date-1">
                  {{meta.date|date_formatted}}
                </time>
								<div class="name-author">by <mark>{{meta.author}}</mark></div>
								<div class="clear"></div>
								<img src="{{meta.featured_img.src}}">
								<div>{{content}}</div>
							</li>
						</ul>
					</div>
					{% if meta.attachments %}
					<div class="attachments">
						<h5>Attachments</h5>
						<ul class="list-photo">
							{% for a in meta.attachments %}
							<li>
								<a class="magnifier" href="{{a.src}}">
									<img class="thumbnail-img"
                   src="{{theme_url}}/img/bg120x87.png"
                   style="background-image: url('{{a.src}}')"/>
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
					<ul class="pmenu">
						{% for p in menu.primary if p.related_type == meta.type %}
						<li><a href="{{p.url}}">Back</a></li>
						{% endfor %}
					</ul>
				</article>
			</div>
		</div>
	</div>
</div>
{% include '_footer.html' %}
</body>
</html>