.contact,.services,.team,.mt {
	margin-top: 30px;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.colume{
	position: relative;
	min-height: 1px;
	padding-left: -15px;
	padding-right: -15px;
	width: 100%;
}
.text-center {
	text-align: center;
}
@media (min-width: 768px) {
	.colume {
		float: left;
		width: 50%;
	}
}
@media (min-width: 992px) {
	.colume {
		width: 33.33333333%;
	}
}
@media (min-width: 1200px) {
	.colume {
		width: 25%;
	}
}
