{% import "g" as g with context %}
<!DOCTYPE html>
<html lang="{{lang}}"
      palette="{{g.opts.palette}}">

{% include '_head_.html' %}
<body class="cover {{meta.bg.class}}"
      style="{{meta.bg.style}}">
  <div class="wrapper">
    <a class="entrance {{meta.entrance.class}}"
       href="{{meta.entrance.link|url}}">
      {% if meta.entrance.figure %}
      <img src="{{meta.entrance.figure}}"
           alt="{{meta.entrance.name}}" />
      {% else %}
      <span>{{meta.entrance.name}}</span>
      {% endif %}
    </a>
  </div>
  {% include '_cr_.html' %}
</body>
</html>
