{% if g and page %}
<section class="contact {{page.bg.class}}" 
 parallax-anchor="{{page.slug}}" title="Contact">
  <div layout-gt-sm="row" layout-sm="column"
   layout-align="center center" style="{{page.bg.style}}">
    <article flex-gt-sm="35">
      <header>
        <h2>{{page.title}}</h2>
      </header>
      {{page.content}}
    </article>
    <aside flex-gt-sm="35" flex-sm="45" class="text-center">
      {% if page.featured_img %}
      <img src="{{page.featured_img.src}}"
       title="{{page.featured_img.title}}"
       class="{{page.featured_img.class or ''}}"/>
      {% endif %}
    </aside>
  </div>
</section>
{% else %}
  {<script>window.location.replace('{{base_url}}/#/{{meta.slug}}');</script>}
{% endif %}