<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger"
       href="#page-top">{{site_meta.title}}</a>
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="{{_('Toggle navigation')}}">
      <span>{{_('Menu')}}</span>
      <svg width="12" height="12" viewBox="0 0 12 12"><path d="M2,9h8V8H2V9z M2,6.5h8v-1H2V6.5z M2,3v1h8V3H2z"/></svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% for menu in menu.primary %}
        <li class="nav-item {{menu.class}}"
            data-hash="{{menu.hash}}">
          <a class="nav-link js-scroll-trigger"
             href="{{menu.hash or menu.url}}"
             target="{{menu.target}}">{{menu.name}}</a>
        </li>
        {% endfor %}
        {% if slot.miniapp.status %}
        <li class="nav-item ml-4">
          <a class="open-modal"
             href="#"
             data-mfp-src="#MODAL-open-app"
             data-effect="mfp-slide-bottom">
            <span class="d-lg-none">{{_('Launch Mobile App')}}</span>
            <svg width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M18 1.01L8 1c-1.1 0-2 .9-2 2v3h2V5h10v14H8v-1H6v3c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V3c0-1.1-.9-1.99-2-1.99zM10 15h2V8H5v2h3.59L3 15.59 4.41 17 10 11.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
            </svg>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div id="MODAL-launch-app"
     class="mfp-hide mfp-with-anim modal-switcher">
  <header>
    <h5>{{_('Launch Mobile App')}}</h5>
  </header>
  <div class="py-2">
    {% if slot.miniapp.status %}
    <img src="{{slot.miniapp.src}}" alt="{{_('Launch Mobile App')}}">
    {% endif %}
  </div>
</div>
