{% import "g" as g with context %}
<!DOCTYPE html>
<html lang="{{ lang }}">
{% include "_head.html" %}
<body class="wrapper-body">
  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg affix">
      <div class="container-fluid">
        <a class="navbar-brand"
           href="{{base_url}}">
          {{site_meta.title}}
        </a>
        <div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link"
                 href="{{base_url}}">
                <svg width="24" height="24" viewBox="0 0 24 24"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                <span>{{_('Back to home')}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="wrapper">
    <div class="container p-5">
      <header>
        <h1>{{meta.title or _('Artilces')}}</h1>
      </header>
      <hr>
      <div class="row">
        <!-- col entries -->
        <div class="col-md-7 mb-5">
          {% set booklet = query('post', paged=request.args.paged,
                                         term=request.args.term) %}
          {% for post in booklet.contents %}
          <div class="py-2">
            <header>
              <h3>{{post.title or _('Title')}}</h3>
              <h6 class="text-primary">{{post.date|date_formatted}}</h6>
            </header>
            {% if post.featured_img.src %}
            <figure>
              <img src="{{post.featured_img.src}}" />
            </figure>
            {% endif %}
            <p class="excerpt pb-2">
              {{post.description or post.excerpt}}
            </p>
            <a class="mt-2 btn btn-ancient-primary"
               href="{{post.url}}">{{_('Read Detail')}}</a>
          </div>
          <hr>
          {% endfor %}
          {% if not booklet.contents %}
          <div class="py-2">
            <p class="text-center text-muted">
              {{_('There is no post yet.')}}
            </p>
          </div>
          {% endif %}
          {% if booklet.total_pages > 1 %}
          <nav aria-label="{{_('Pagination')}}">
            <ul class="pagination">
              <li class="page-item {{'disabled' if not booklet.has_prev}}">
                <a class="page-link"
                   href="{{ glue({'page':booklet.paged-1,
                                  'term':request.args.term}) }}"
                   aria-label="{{_('Previous Page')}}">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% for p in booklet.page_range %}
              <li class="page-item {{'active' if p == booklet.paged}}">
                <a class="page-link"
                   href="{{glue({'page':p, 'term':request.args.term})}}">
                 {{p}}
                </a>
              </li>
              {% endfor %}
              <li class="page-item {{'disabled' if not booklet.has_next}}">
                <a class="page-link"
                   href="{{ glue({'page':booklet.paged+1,
                                  'term':request.args.term}) }}"
                   aria-label="{{_('Next Page')}}">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
          {% endif %}
        </div>

        <!-- col recent -->
        {% set booklet = query('post', perpage=12) %}
        <div class="col-md-4 ml-auto">
          <h6 class="text-primary">{{_('Recent Articles')}}</h6>
          <div class="list-group list-group-flush">
            {% for post in booklet.contents %}
            <a class="list-group-item list-group-item-action bg-trans"
               href="{{post.url}}">
              {{post.title}}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include '_footer.html' %}

  {{g.scripts}}

</body>
</html>