{% if g and page %}
<section id="{{page.slug}}"
         class="segment {{page.bg.class}}"
         style="{{page.bg.style}}">
<div class="container-fluid">
  {% set posts = query('post', perpage=3).contents %}
  {% if posts %}
  <div id="BLOG-CAROUSEL"
       class="carousel slide"
       data-ride="carousel"
       data-interval="6000">
    <ol class="carousel-indicators">
      {% for x in posts %}
      <li class="{{'active' if loop.first}}"
          data-target="#BLOG-CAROUSEL"
          data-slide-to="{{loop.index0}}"></li>
      {% endfor %}
      <li class="more">
        <a href="{{base_url}}/articles"
           aria-label="_('More')"></a>
      </li>
    </ol>
    <div class="carousel-inner">
      {% for post in posts %}
      <div class="carousel-item {{'active' if loop.first}}">
        <header class="divide">
          <h2 class="text-truncate">
            {{post.title or _('Title')}}
          </h2>
        </header>
        <div class="container">
          <div class="row">
            <div class="col-md-3 offset-md-2 pb-2">
              <img class="thumbnail"
                   src="{{g.trans_4x7}}"
                   style="{{post.featured_img.src|bg_img}}"
                   alt="{{post.title}}"/>
            </div>
            <div class="col-md-5 pb-2 text-center text-md-left">
              <p class="excerpt text-clamp-3">{{post.description}}</p>
              <a class="mt-4 btn btn-ancient-primary"
                 href="{{post.url}}">{{_('Read Detail')}}</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <p class="text-center text-muted">{{_('There is no post yet.')}}</p>
  {% endif %}
</div>
</section>
{% else %}
  {% include '_articles.html' %}
{% endif %}
