{% import "g" as g with context %}
<!DOCTYPE html>
<html lang="{{ lang }}">
{% include "_head.html" %}
<body class="wrapper-body">
  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg affix">
      <div class="container-fluid">
        <a class="navbar-brand"
           href="{{base_url}}">
          {{site_meta.title}}
        </a>
        <div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link"
                 href="{{base_url}}/articles">
                <svg width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/></svg>
                <span>{{_('Back to articles')}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="wrapper">
    <div class="container p-5">
      <div class="row">
        <!-- col article -->
        <div class="col-md-7 mb-5">
          <article>
            <header>
              <h2>{{meta.title or _('Title')}}</h2>
              <h6 class="text-secondary">{{meta.date|date_formatted}}</h6>
            </header>
            {% if meta.featured_img.src %}
            <figure>
              <img src="{{meta.featured_img.src}}" />
            </figure>
            {% endif %}
            <hr>
            <div class="content">
              {{content}}
            </div>
          </article>
        </div>

        <!-- col aside -->
        {% set booklet = query('post', perpage=12) %}
        <div class="col-md-4 ml-auto">
          <h6 class="text-primary">{{_('Recent Articles')}}</h6>
          <div class="list-group list-group-flush">
            {% for post in booklet.contents %}
            <a class="list-group-item list-group-item-action bg-trans"
               href="{{post.url}}">
              {{post.title}}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include '_footer.html' %}

  {{g.scripts}}

</body>
</html>