{% if g and page %}
<div>
<div class="container">
  <div class="row">
    {% for item in page.series %}
    <div class="col-lg-3 col-md-6 mb-5">
      <div class="text-center {{item.class}}">
        <figure class="m-auto">
          <img class="thumbnail minify"
               src="{{g.trans}}"
               style="{{item.src|bg_img}}"
               alt="{{item.title}}"/>
        </figure>
        <div>
          {% if item.link %}
          <a class="btn btn-ancient-secondary"
             href="{{item.link|url}}">{{_('View Detail')}}</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% elif not meta.is_front %}
<script>window.location.replace('{{base_url}}/#{{meta.slug}}');</script>
{% endif %}
