{% import 'g' as g with context %}
<!DOCTYPE html>
<html lang="{{lang}}">
{% include '_head.html' %}
<body>

{% include '_header.html' %}

<section class="ribbon {{meta.hero.class}}"
         style="{{meta.hero.style}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2>
          {{meta.title}}
        </h2>
        <hr>
        <p>{{meta.description}}</p>
      </div>
    </div>
  </div>
</section>

{% set works = query('works', request.args.paged) %}
<section class="no-padding no-border">
  <div class="container-fluid">
    <div class="row no-gutter">
      {% for item in works.contents %}
      <div class="col-md-4 col-sm-6">
        <a href="{{item.url}}"
           class="portfolio-box">
          <img src="{{theme_url}}/styles/trans_16x10.png"
               class="img-responsive"
               style="{{(item.featured_img.src or g.default_img)
                         |thumbnail|bg_img}}"
               alt="{{item.title}}">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name text-nowrap">
                {{item.title}}
              </div>
              <div class="project-caption faded">
                {{item.description}}
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% if works.total_pages > 1 %}
<section class="no-border">
  <div class="container">

    <ul class="pager">
      {% if works.has_prev %}
      <li class="previous">
        <a href="{{ glue({'paged':works.paged-1}) }}">
         &larr; {{_('Previous')}}
        </a>
      </li>
      {% endif %}
      {% if works.has_next %}
      <li class="next">
        <a href="{{ glue({'paged':works.paged+1}) }}">
          {{_('Next')}} &rarr;
        </a>
      </li>
      {% endif %}
    </ul>

  </div>
</section>
{% endif %}

{% include '_footer.html' %}

</body>
</html>
