/*
-----------------------------------------------
Author:   redy
Date:     14 Feb 2016
Version:  1.0
----------------------------------------------- */

body {
  background-image: url('redy.jpg');
}
