{% if g and page %}
<section id="{{page.slug}}"
         class="segment-wrapper no-padding no-border">

  <div class="container-fluid">
    <div class="row no-gutter img-gallery">
      {% for item in page.series %}
      <div class="col-md-4 col-sm-6">
        <a class="{{'img-popup' if not item.target}} portfolio-box"
           href="{{(item.link|url) or item.src}}"
           target="{{item.target}}">
          <img src="{{theme_url}}/styles/trans.png"
               class="img-responsive thumbnail-img"
               style="{{item.src|bg_img}}"
               alt="{{item.title}}">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name text-nowrap">
                {{item.title}}
              </div>
              <div class="project-caption caption">
                {{item.caption}}
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

</section>
{% elif not meta.is_front %}
<script>window.location.replace('{{base_url}}/#{{meta.slug}}');</script>
{% endif %}
