/*
---------------------------------------
Blue WeChat article theme

Author:     Cheney
Date:       16 Feb 2016
Version:    0.1
--------------------------------------- */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}

.text-center {
	text-align: center;
}

/* Base
--------------------------------------- */
html,
body {
	font-family: Helvetica, Arial,
							 'Source Han Sans CN', 'Source Han Sans SC',
               'Hiragino Sans GB', 'PingFang SC', 'STHeiti', 'SimHei',
               sans-serif;
	background: #fff;
	margin: 0;
}

h1,h2,h3,h4,h5,h6,p,label,li,td,th {
	font-weight: 300;
	line-height: 1.4em;
}

h1 {
	padding: 10px 0;
	padding-right: 60px;
	margin: 0;
	color: #3fd0cd;
	font-size: 36px;
	line-height: 1.4em;
	font-weight: 600;
}

h1.error-404 {
	padding: 60px 0 10px 0;
	background: none;
}

h2 {
	font-size: 26px;
	color: #333;
}

p {
	font-size: 18px;
	line-height: 1.4em;
}

/* Grid
--------------------------------------- */
.wrapper {
	max-width: 740px;
	position: relative;
	margin: 0 auto;
	color: #333;
}

.wrapper * {
	box-sizing: border-box!important;
	-webkit-box-sizing: border-box!important;
	word-wrap: break-word!important;
}

.wrapper img,
.wrapper iframe,
.wrapper iframe * {
	max-width: 100% !important;
}

.container {
	padding: 15px;
}

/* Elements
--------------------------------------- */
.date {
	font-size: 18px;
	color: #888;
	padding: 5px 0;
}

.featured {
	margin-top: 20px;
	margin-bottom: 20px;
}

.featured img {
	width: 100%;
}

.logo {
	float: left;
	padding-right: 15px;
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.logo img {
	max-width: 100%;
}

.info {
	width: 50%;
	padding: 15px;
	text-align: right;
	float: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.info .read {
	font-size: 16px;
	color: #666;
	padding-top: 10px;
}

.info .count {
	font-size: 40px;
	line-height: 40px;
	color: #3fd0cd;
}