@font-face{
	font-family: 'Lato';
  src: url('lato-hairline.woff2') format('woff2'),
       url('lato-hairline.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face{
	font-family: 'Lato';
  src: url('lato-hairlineitalic.woff2') format('woff2'),
       url('lato-hairlineitalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face{
	font-family: 'Lato';
  src: url('lato-light.woff2') format('woff2'),
       url('lato-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'Lato';
  src: url('lato-lightitalic.woff2') format('woff2'),
       url('lato-lightitalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face{
	font-family: 'Lato';
  src: url('lato-regular.woff2') format('woff2'),
       url('lato-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
  src: url('lato-italic.woff2') format('woff2'),
       url('lato-italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face{
	font-family: 'Lato';
  src: url('lato-bold.woff2') format('woff2'),
       url('lato-bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face{
	font-family: 'Lato';
  src: url('lato-bolditalic.woff2') format('woff2'),
       url('lato-bolditalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face{
	font-family: 'Lato';
  src: url('lato-black.woff2') format('woff2'),
       url('lato-black.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: 'Lato';
  src: url('lato-blackitalic.woff2') format('woff2'),
       url('lato-blackitalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}