{% if g and page %}
<div class="container marginbot-50">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="section-heading text-center">
        <h2 class="h-bold">
          {{page.title}}
        </h2>
        <div class="divider-header"></div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    {% for item in page.series %}
    <div class="col-sm-6 col-md-3 gallery-item">
      <div class="item-hover">
        <a href="{{item.src}}"
           title="{{item.title}}"
           data-lightbox-gallery="gallery-{{page.slug}}">
          <img class="img-responsive thumbnail-img"
               src="{{theme_url}}/styles/trans.png"
               style="background-image: url('{{item.src}}');"
               alt="{{item.title}}" />
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<script>window.location.replace('{{base_url}}/#{{meta.slug}}');</script>
{% endif %}
